<div class="d-flex align-items-start mt-5 flex-column">
  <h3 class="mb-2 text-secondary"><%= pageTitle %></h3>
</div>
<% if (msg.length !== 0) { %>
  <div class="alert alert-success" role="alert"><%= msg %></div>
  <% } %>
<div class="table-responsive mt-3 ">
  <table class="table container-md"     style="color: #cbd5e0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Your Id</th>
        <th scope="col">Enemy Username</th>
        <th scope="col">Id Room</th>
        <th scope="col">WIN/LOSE</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <% data.map((data,index)=>{ %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td ><%= data.idUser %></td>
        <td><%= data.idEnemy %> </td>
        <td><%= data.idRoom %> </td>
        <td class="<%= data.winLose  === "win" ? "text-success" :"text-danger"%>"><%= data.winLose %></td>
        
        <td><form method="POST" action="/dashboard/history/delete/<%=data.idUser %>?_method=DELETE">
            <input
            type="hidden"
            name="id"
            type="text"        
            class="form-control form-control-lg"            
            value="<%=data.id %>"
          />
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
    </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <button type="button"  onclick="history.back()"" class="btn btn-success px-5">Back</button>
</div>
